.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  mat-form-field {
    width: 100%;
    max-width: 500px;
    margin-bottom: 16px;
  }
  
  .b1 {
    margin-top: 16px;
  }
  
  app-adreply {
    margin-top: 32px;
  }
  
  @media screen and (max-width: 600px) {
    mat-form-field {
      max-width: 90%;
    }
  }
  