h1{
  text-align: center;
}
#login-card {
    margin: 50px auto;
    max-width: 500px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #log-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  #log-table th,
  #log-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #log-table th {
    width: 150px;
    font-weight: bold;
  }
  
  #log-table td input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  #log-table td button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  #log-table td button:hover {
    background-color: #0069d9;
  }
  
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .loading img {
    width: 50px;
  }
  
  .errors {
    color: red;
    margin-bottom: 10px;
  }

/* #login-card{
    height: 50px;
    width: 50%;
    margin-top: 40px;
    margin-left: 30%;
    background-color: white;
    box-shadow: 0px 2px 10px lightgray;
    position: relative;
    border:2px solid black;   
}


#image-left{
    position: absolute;
    left: 0px;
    top:0px;
    height: 30%;
    width:30%;
}

#image-center{
    position: absolute;
    left: 45%;
    top:0px;
    height: 35%;
    width:35%;
}
#image-bottom-right{
    position: absolute;
    right: 0%;
    bottom: 0px;
    height: 25%;
    width:25%;
}

#image-bottom-right img, #image-left img, #image-bottom-center img{
    height: 100%;
    width: 100%;
}

#log-table{
    position: absolute;
    top: 35%;
    left: 30%;
}
input[type="text"], input[type="password"]{
    height: 30px;
    width: 200px;
}

button{
    background-color: #282928;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
}

th,td{
    height: 50px;
    width: 250px;
}

@media only screen and (max-width: 720px) {
  #login-card{
     width: 100%;
     margin: 0px;
     margin-left: 0px;
  }
}

.loading, .errors{
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 25%;
    color: rgb(44, 45, 44);
} */