<div class="container">
  <h2>Post feedback or Suggestions here</h2>
    <div class="feedback-section">
    <mat-form-field appearance="fill" class="input-field">
        <mat-label>Input</mat-label>
        <input matInput [(ngModel)]="query" class="input-box">
    </mat-form-field>
      <button mat-raised-button color="primary" class="b1" (click)="AddQuestion()">Post</button>
      <app-forumbox *ngFor="let x of forumlist" [q]="x" class="feedback-box"></app-forumbox>
    </div>
</div>
  
  
  
  
  
  
  
  
  
      
      