img {
    height: 510px;
    width: 1265px;
}
 h1 {
    
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 200px;
    color: white;
} 
p{
    
        position: absolute;
        top: 8px;
        left: 16px;
        margin-top: 300px;
        color:white;
      }
button{
    position: absolute;
    top: 80px;
    left: 16px;
    text-align: center;
    margin-top: 300px;
    padding: .2%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: black;
    border: none;
}

